.wrapper {
    width: 100%;
}

#download_btn {
    margin:10px auto;
    display:block;
    background-color:#44c767;
    border:1px solid #18ab29;
    border-radius: 2px;
	cursor:pointer;
	color:#ffffff;
	padding:5px;
	text-shadow:0px 1px 0px #2f6627;
}

#v_title {
    margin-top: 10px;
    font-weight: bold;
}

#captionList {
    max-height: 400px;
    margin-top: 10px;
    overflow: scroll;
}
#captionList::-webkit-scrollbar {
    display: none;
}
.captionItem {
    border: 1px solid #dfdcdc;
    padding: 2px;
    margin: 2px 0;
}
.captionItem:hover {
    cursor: pointer;
}

#no-transcript {
    color: red;
    font-weight: bold;
    margin: 5px 0;
    text-align: center;
    font-size: 14px;
}